:root {
    --backgroundImg: url('https://img.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-natural-stone-wall_38607-886.jpg?size=626&ext=jpg')
}
body {
    background-color: #e9ecef;
}
.portfolio-container {
    background-color: #e9ecef;
}
.aboutContainer {
    background-color: #e9ecef;
    margin-bottom: 50px;
}
.selfPortrait {
    width: 100%;
}
.self-portrait-container {
    display: flex;
    justify-content: flex-start;
}

#navbar {
    background-image: var(--backgroundImg);
}
.columns {
    display: flex;
    flex-direction: row;
}
h2 {
    text-align: center;
}
.aboutMe {
    background-color: #212529;
    margin-left: 20px;
    padding: 10px;
    box-shadow: 5px 5px 20px #343a40;
}
.about {
    background-color: #e9ecef;
}

/*nav css*/
#nav-title {
    font-size: 50px;
    color: white;
    text-shadow: 5px 2px 5px black;
    display: flex;
}
.navbar {
    background: #343a40;
}
/*about link*/
#about-link {
    color: white;
    font-size: 20px;
}
#about-link:hover {
    border: 2px solid black;
    box-shadow: 5px 5px 15px white;

}
#about-link:focus {
    border: 2px solid white;
    box-shadow: 5px 5px 15px white;
}

/*project-link*/
#project-link {
    color: white;
    font-size: 20px;
}
#project-link:hover {
    border: 2px solid black;
    box-shadow: 5px 5px 15px white;
}
#project-link:focus {
    border: 2px solid white;
    box-shadow: 5px 5px 15px white;
}

/* resume link*/
#resume-link {
    color: white;
    font-size: 20px;
}
#resume-link:hover {
    border: 2px solid black;
    box-shadow: 5px 5px 15px white;
}
#resume-link:focus {
    border: 2px solid white;
    box-shadow: 5px 5px 15px white;
}
#toggle {
    color:white;
}
#toggle:hover {
    border: 2px solid black;
    box-shadow: 5px 5px 15px white;
}
#toggle:focus {
    border: 2px solid white;
    box-shadow: 5px 5px 15px white;
}

/*contact link*/
#contact-link {
    color: white;
    font-size: 20px;

}
#contact-link:hover {
    border: 2px solid black;
    box-shadow: 5px 5px 15px white;
}

#contact-link:focus {
    border: 2px solid white;
    box-shadow: 5px 5px 15px white;
}
h1 {
    font-size: 100px;
}

/*photo gallery css*/
.slider {
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 20px #343a40;
} 

.slides {
    width: 500px;
    height: 500px;
    display: flex;
}
.slides input {
    display: none;
}

.slide {
    width: 100%;
    transition: 2s;
}

.slide img {
    width: 500px;
    height: 500px;
}

/*manual slide navigation css*/
.navigation-manual {
    position: absolute;
    width: 500px;
    margin-top: -40px;
    display: flex;
    justify-content: center;;
}
.manual-btn {
    border: 2px solid #343a40;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover {
    background: #343a40;
}
#radio1:checked ~ .first {
    margin-left: -0;
}
#radio2:checked ~ .first {
    margin-left: -100%;
}
#radio3:checked ~ .first {
    margin-left: -200%;
}

/*auto nav css*/
.navigation-auto {
    position: absolute;
    display: flex;
    width: 500px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #343a40;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #343a40;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #343a40;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #343a40;
}


/*card css*/
.card {
    width: 40rem;
    margin: 20px;
    box-shadow: 5px 5px 20px #343a40;
    

}
.portfolio-cards {
    background-color: #212529;
    color: white;
}
.tech-dark {
    background-color: #adb5bd !important;
}
.tech-gray {
    background-color: #ced4da !important;
}
.tech-light {
    background-color: #dee2e6 !important;
}
.tech-link {
    color: black
}
.tech-link:hover {
    box-shadow: 5px 5px 15px black;
    background-color: #212529;
    color: white;
}
.social-link {
    color: white;
}
.social-link:hover {
    color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 15px white;
    padding: 5px;
}
.social-link:focus {
    border: 1px solid white;
    box-shadow: 5px 5px 15px white;
    padding: 5px;
}

/*footer css*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://img.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-natural-stone-wall_38607-886.jpg?size=626&ext=jpg');
}
h6 {
    color: white;
    text-shadow: 5px 2px 5px black;
}
.fab {
    color: white;
}
.fab:hover {
    transform: scale(125%);
}
.far {
    margin: 5px;
}
.fas {
    margin: 5px;
}
.copyright {
    color: white;
}

/* resume page css*/

.skills {
    background-image: var(--backgroundImg);
    color: white !important;
    box-shadow: 5px 5px 5px #343a40;
    margin-left: 20px;
}
.resume-headers, h2, .contact-headers, .error-text{
    background-color: #212529;
    color: white;
    box-shadow: 5px 5px 20px #343a40;
    text-align: center;
    margin-left: 20px;
}
#download-link {
    text-align: center;
    color: white;
    font-size: 20px;
}
#download-link:hover {
    border: 2px solid black;
    box-shadow: 5px 5px 15px white;

}
#download-link:focus {
    border: 2px solid white;
    box-shadow: 5px 5px 15px white;
}

/*Contact page css*/
.contact-wrapper {
    height: 100vh;
    padding: 30px;
}
.contact-container {
    height: 80vh;
}
.columns {
    display: flex;
}

@media (max-width: 320px) {
    #nav-title {
        font-size: 35px;
    }
    #toggle-nav {
        display: flex;
        flex-direction: row;
    }
    .card {
        margin: 0px;
    }
    .navigation-manual {
        margin:-10px;
    }
}
@media (max-width:481px) {
    #nav-title {
        font-size: 30px;
    }
    .card {
        margin-bottom: 10px;
    }
    h2 {
        margin: 0px;
    }
    #about-link {
        font-size: 15px;
    }
    #project-link {
        font-size: 15px;
    }
    #resume-link {
        font-size: 15px;
    }
    #contact-link {
        font-size: 15px;
    }    
    .navigation-manual {
        width:100%;
        margin-top: -40px;
        margin-left: 0.1em
    }
    .navigation-auto {
        width: 100%;
    }
}

@media (max-width:768px) {
    h2 {
        margin: 0px;
    }
}
